body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 2rem 0;
  background-color: #000d1a;
  border-top: 2px solid #FEF2BF;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.5);
  font-family: 'Press Start 2P', cursive;
  color: #FEF2BF;
  font-size: 0.6rem;
  text-align: center;
}

footer span {
  display: inline-block;      /* shrink to content */
}

footer a {
  color: #FEF2BF;
  text-decoration: none;
  margin: 0 20px;             /* equal spacing around each link */
  font-weight: bold;
  display: inline-block;
  transition: transform 0.2s ease, color 0.2s ease;
}


footer a:hover {
  /* Crisp, high-contrast arcade color pop */
  color: #F84C1C; 
  transform: scale(1.1);  
}